<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          Task List
        </div>
        <div class="card-body">
          <app-task-form (formSubmit)="addTask($event)"></app-task-form>

          <div *ngFor="let task of tasks">
            <app-task-item [task]="task" *ngIf="task.id !== undefined" (toggle)="toggleCompletion(task)"
              (delete)="deleteTask(task.id!)">
            </app-task-item>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
